# Ignore everything in this directory
*
# Except this file
!.gitignore

# Folders

# Files

# Scripts
!abcd_basic_proc.m
!abcd_perm_gen.m
!abcd_cca_batch.m
!abcd_perm_agg.m
!abcd_cca_interactive.m
!train_test_split.m