# Ignore everything in this directory
*
# Except this file
!.gitignore

# Folders

# Files

# Scripts
!clean_all_subjects_icafix.sh
!fix_cleanup.sh
!icafix_swarm_patch.sh
!cleanup_given_subject_list.sh