# Ignore everything in this directory
*
# Except this file
!.gitignore

# Folders
!data/
!dependencies/
!data_prep/
!conda_requirements.txt
!pipeline_diagrams/
!misc_scripts/

# Files
!pip_requirements.txt

# Scripts
!create_config.sh
!abcd_cca_analysis.m
!abcd_perm_gen.m