# Ignore everything in this directory
*
# Except this file
!.gitignore

# Folders
!data/
!dependencies/
!data_prep/
!pipeline_diagrams/
!misc_scripts/
!hcp_cca_testing/
!figures/

# Files
!pip_requirements.txt
!conda_requirements.txt
!environment.yml

# Scripts
!create_config.sh
!abcd_cca_analysis.m
!abcd_perm_gen.m
!abcd_basic_proc.m
!abcd_perm_agg.m
!abcd_cca_single.m
!abcd_cca_batch.m
!abcd_cca_interactive.m
!abcd_cca_80-20.m
