# Ignore everything in this directory
*
# Except this file
!.gitignore
!PipelineDataFlow_Diagram.pptx
!PipelineDataFlow_Diagram1.0.pptx
!PipelineDataFlow_Diagram1.1.pptx
!PipelineDataFlow_Diagram1.2.pptx
!PipelineDataFlow_Diagram1.3.pptx