# Ignore everything in this directory
*
# Except this file
!.gitignore
!data
!NIFTI
!pull_filepaths_0.sh
!pull_motion_data_1.py
!motion_analysis_2.py
!sm_processing_3.r
!VARS_4.py
!helper_functions
!censoring_data
!groupICA200.dr
!groupICA200.gica
!netmats.m