# Ignore everything in this directory
*
# Except this file
!.gitignore

# Folders
!data
!logs
!support_scripts

# Files

# Scripts
!fix_cleanup.sh
!prep_stage_0.sh
!prep_stage_1.sh
!prep_stage_2.sh
!prep_stage_3.sh
!prep_stage_4.sh