# Ignore everything in this directory
*
# Except this file
!.gitignore
!motion_exclusion.py
!find_anomalies.py
!final_rds_proc.r
!vars.py
!run_melodic.sh
!prep_stage_3_steps2and3.sh
!run_dual_regression.sh
!run_slices_summary.sh